
<br/>
<div class="row">
	<div class="col-xs-12">
		<form class="form-horizontal" role="form" id="user_form">
			<div class="row">
				<div class="col-xs-12">
					<div class="clearfix errlabel">
						
					</div>
					<div class="space"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="attribute_id"> Attribute </label>
						<div class="col-xs-12  col-sm-10">
						
							<select class="col-xs-12 col-sm-4 col-md-4"  id="attribute_id" name="attribute_id"  data-placeholder="Choose a attribute...">
								<option value="" selected disabled >Choose a attribute</option>
									<% var myattribute = page.attribute;
										for(var i=0; i < myattribute.length; i++) { %>
									   <option value="<%= myattribute[i].id %>"  > <%= myattribute[i].name %></option>
									<% } %>
							</select>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for=""> Attribute Value</label>
						<div class="col-xs-12  col-sm-10">
							<input type="text" id="attribute_value" name="attribute_value" class="col-xs-12 col-sm-4 col-md-4"  />
						</div>
					</div>	
					<div class="form-group">
						
						<div class="col-xs-12  col-sm-offset-2 ">
							<button class="btn btn-sm btn-success btnsave">
								<i class="icon-ok"></i>
								Save
							</button>
							<button class="btn btn-sm btncancel" data-link="">
								<i class="icon-ban-circle align-top bigger-125"></i>
								Cancel
							</button>					
							
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	jQuery(function($){
		$('#attribute_id').chosen();
	});

$('.btnsave').on('click', function(e) {
	e.preventDefault();
	if( $('#attribute_id').val() == "" || $('#attribute_value').val() == "" )return;		
		var data={		
			attr_id : $('#attribute_id').val(),
			name : $('#attribute_value').val()
		}
		$.post("/admin/user/createAttr", data, function (e) {	
			var data = JSON.parse(e);
			console.log(data);					
			if(data.message == "success")
			{
				location.href="/admin/user/attribute";
			}
			else
			{
				$("#error").html("<span id='msg' class='red'> "+ data.message +" </span>");
				//setTimeout(function(){  $('#msg').fadeOut('slow');}, 2000);
			}
		});			
	

});

$('.btncancel').click(function(e){
e.preventDefault();
location.href="/admin/user/attribute/";
});


</script>

