<html>
	<head>
		<title>STC change password</title>
		 <style type="text/css">
		.container {
			width: 600px;
			clear: both;
			text-align: right;
			line-height: 2.5;
		}
		.container input {
			width: 50%;
			clear: both;
		}

		</style>
	</head>
	
	<body>
		<div class="container">
			Login Token:(login_token):<input type="text" id="login_token"/><br>
			old password(cms_password):<input type="text" id="cms_password"/><br>
			new password(new_password1):<input type="text" id="new_password1"/><br>
			confirm password(new_password2):<input type="text" id="new_password2"/><br>
			Url:&nbsp;&nbsp;<label>/api/changePassword</label><br>
		<br>
		<button id="btnsubmit">Submit</button>
		</div>
		<div id="resultdata">	
			
		</div>
	</body>
	<script src="/assets/js/jquery.min.js"></script>
	<script>
	jQuery(function($){
		$("#btnsubmit").click(function() {
			if($('#cms_password').val() == "" ||($('#new_password1').val() == "" || $('#new_password2').val() == "") || ($('#new_password1').val() != $('#new_password2').val()))
			{
				var message = "Fill all forms and New Password and Confirm Password must be same !";
				alert(message);
			}else{
				var data ={ 
					login_token:$('#login_token').val(),
					new_password1 : $('#new_password1').val(),				
					cms_password : $('#cms_password').val()	
				}
				$.ajax({
					  url: "/api/changePassword",
					  dataType: 'json',
					  data : data,
					  method: "POST",	
					  /*beforeSend: function( xhr ) {
						xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
					  }*/
					 
					})
					.done(function( data ) {
						$('#resultdata').html(data.message);
					});
			}	
		});
	});
	</script>
</html>