<html>
	<head>
		<title>STC Get Profile</title>
		 <style type="text/css">
		.container {
			width: 600px;
			clear: both;
			text-align: right;
			line-height: 2.5;
		}
		.container input {
			width: 50%;
			clear: both;
		}

		</style>
	</head>
	
	<body>
		<div class="container">
			Login Token:(login_token):<input type="text" id="login_token"/><br>
			Url:&nbsp;&nbsp;<label>/api/getUserProfile</label><br>
		<br>
		<button id="btnsubmit">Submit</button>
		</div>
		<div id="resultdata">	
			
		</div>
	</body>
	<script src="/assets/js/jquery.min.js"></script>
	<script>
	jQuery(function($){
		$("#btnsubmit").click(function() {
			
				var data ={ 
					login_token:$('#login_token').val()
				}
				$.ajax({
					  url: "/api/getUserProfile",
					  dataType: 'json',
					  data : data,
					  method: "POST",	
					  /*beforeSend: function( xhr ) {
						xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
					  }*/
					 
					})
					.done(function( data ) {
						$('#resultdata').html(JSON.stringify(data.msg));
					});
		});
	});
	</script>
</html>