<div class="col-xs-12">
	<div class="col-lg-2 col-md-2 col-sm-12">
		<a href="/admin/user/download" style="color: white;text-decoration: none;">
		<button class="btn btn-sm btn-primary btndownload">
			<i class="icon-download"></i>Download App
		</button>
		</a>
		</br>
		</br>
	</div>

</div>
<script>
$(".btndownload").click(function(e){
	setTimeout(function(){location.href="/admin/user/appdownload"},3000);
});
	/*e.preventDefault();
	if($('.imgloading').length == 0)
	{
		$.ajax({
		  url: "/admin/user/download",
		  beforeSend: function( xhr ) {
			$('.btndownload').html('<img class="imgloading" src="/assets/img/ajax-loader.gif" />');
		  }
		})
	  .done(function( data ) {
		$('.btndownload').html('<i class="icon-download"></i>Download App');
		  location.href = "/admin/user/appdownload";
		
	  });
	}
	
	
*/
</script>