<html>
	<head>
		<title>STC Inbox</title>
		 <style type="text/css">
		.container {
			width: 500px;
			clear: both;
			text-align: right;
			line-height: 2.5;
		}
		.container input {
			width: 50%;
			clear: both;
		}

		</style>
	</head>
	
	<body>
		<div class="container">
			Login Token:(login_token)<input type="text" id="login_token"/><br>
			Offset(offset): <input type="text" id="offset"/><br>
			Limit(limit): <input type="text" id="limit"/><br>
			<!-- date from:(datefrom)<input type="date" id="datefrom" style="display:none"/><br>
			date from:(dateto)<input type="date" id="dateto" style="display:none"/><br>-->
			Url:&nbsp;&nbsp;<label>/api/myconversation</label><br>
		
		<br>
		<button id="btnsubmit">Submit</button>
		</div>
		<div id="resultdata">	
			
		</div>
	</body>
	<script src="/assets/js/jquery.min.js"></script>
	<script>
	jQuery(function($){
		$("#btnsubmit").click(function() {
			
			var data ={
				login_token : $('#login_token').val(), 
				//datefrom : $('#datefrom').val(), 
				//dateto : $('#dateto').val()
				offset:$('#offset').val(),
				limit:$('#limit').val(),
			}
			$.ajax({
				  url: "/api/getReportList",
				  dataType: 'json',
				  data : data,
				  method: "POST",	
				  /*beforeSend: function( xhr ) {
					xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
				  }*/
				})
				.done(function( data ) {
					
					if(data.status == "1")
					{
						$('#resultdata').html(JSON.stringify(data.result));
					}
					else
					{
						$('#resultdata').html(data.msg);
					}
					
				});
		});
	});
	</script>
</html>