<!DOCTYPE html>
<html lang="en">
  <head>
  

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Fixed navbar -->
  <br>
  <br>
  <br>
  <br>
	
    <div  class="container">
      <img src="/assets/img/404.jpg">
	  
      <div class="description">SORRY, THE PAGE YOU WERE LOOKING FOR DOESN’T EXIST.</div>
	  <!--
      <p>Go back to <a href="/">home</a> instead.</p>
	  -->
	  <p>We just gone through a website overhaul and the URL you have may no longer exist.<br> 
	  <a href="mailto:booking@metroresidences.sg">Email us</a> to get a new URL or go back to <a href="/">home</a> instead.</p>
    </div>

<!-- Start of Footer -->
  

    <!-- End of Footer-->

  </body>
</html>
