	<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="/admin/dashboard" class="navbar-brand">
						<small>
							<img src="/assets/img/Shwe_Taung_logo.png" style="width: 150px;"></img>
							
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<% var session_val = session %>							
								<img class="nav-user-photo" src="/assets/upload/users/<%= typeof session_val.user !== "undefined" ? (session_val.user.profile_image?session_val.user.profile_image:"defaultprofile.jpg") : "defaultprofile.jpg" %>" alt="Profile Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									<%= typeof session_val.user.email !== "undefined" ? session_val.user.email : "User" %>
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#" class="hide">
										<i class="icon-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="/admin/user/useredit/<%= session_val.user.user_id %>">
										<i class="icon-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="/admin/logout">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>
		<script>
		function grabcount()
		{
			$.ajax({
				  method: "GET",
				  url: "/admin/message/newreport",
				  cache:false
				})
			  .done(function( data ) {
					if(data.status == "1")
					{
						if(data.msg !="0")
						{
							$('.newreportalert').attr('class','newreportalert badge badge-primary') ;
							$('.newreportalert').html(data.msg);
						}
						else
						{
							$('.newreportalert').attr('class','newreportalert') ;
							$('.newreportalert').html('');
						}
					}
					
					
			  });
		}
		$(document).ready(function(){
			grabcount();
			setInterval(function(){grabcount();}
			,10000);
		});
	</script>